[run]
omit =
    src/imagepills/base.py
    src/imagepills/entrypoint.py
    src/imagepills/imagepills.py
    setup.py
source = 
    src

    
[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if __name__ == '__main__':
    # Functions to avoid
    def main
    def __repr__
    def __str__
    @overload
